<%= form_with model: @blog, local: true do |form| %>
  <div class="mb-4">
    <%= form.label :title, class: "block text-gray-300 font-bold mb-2" %>
    <%= form.text_field :title, class: "border border-gray-600 rounded w-full py-2 px-3 bg-gray-800 text-gray-200 focus:outline-none focus:ring focus:border-blue-300" %>
  </div>

  <div class="mb-4">
    <%= form.label :content, class: "block text-gray-300 font-bold mb-2" %>
    <%= form.text_area :content, class: "border border-gray-600 rounded w-full py-2 px-3 bg-gray-800 text-gray-200 focus:outline-none focus:ring focus:border-blue-300" %>
  </div>

  <div class="mb-4">
    <%= form.label :photo, class: "block text-gray-300 font-bold mb-2" %>
    <%= form.file_field :photo, class: "border border-gray-600 rounded w-full py-2 px-3 bg-gray-800 text-gray-200 focus:outline-none focus:ring focus:border-blue-300" %>
  </div>

  <div class="mb-4">
    <%= form.label :category_id, "Category", class: "block text-gray-300 font-bold mb-2" %>
    <%= form.collection_select :category_id, @categories, :id, :name, { prompt: "Select a category" }, class: "border border-gray-600 rounded w-full py-2 px-3 bg-gray-800 text-gray-200 focus:outline-none focus:ring focus:border-blue-300" %>
  </div>

  <div class="mb-4">
    <p class="text-sm text-gray-400">Posted by: <%= current_user.email %></p>
  </div>

  <div>
    <%= form.submit 'Save', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
<% end %>
