<div class="container mx-auto px-4 py-4">
  <div class="flex flex-wrap">
    <div class="w-full md:w-3/4">
      <h1 class="text-3xl font-bold mb-4">Blogs</h1>

      <%= form_with url: blogs_path, method: :get, local: true, class: "mb-4" do %>
        <div class="flex items-center">
          <%= text_field_tag :query, params[:query], placeholder: 'Search blogs...', class: "border border-gray-600 rounded py-2 px-3 bg-gray-800 text-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-400 w-full" %>
          <%= submit_tag 'Search', class: "ml-2 bg-blue-600 hover:bg-gray-500 text-white font-bold py-2 px-4 rounded" %>
        </div>
      <% end %>
      
      <%= link_to 'New Blog', new_blog_path, class: "bg-gray-700 hover:bg-gray-500 text-white font-bold py-2 px-4 rounded mb-4 inline-block" if user_signed_in? %>      

      <!-- Blog list -->
      <div class="space-y-4">
        <% @blogs.each do |blog| %>
          <div class="flex bg-gray-500 shadow-md rounded-lg p-4 items-center hover:bg-gray-700">
            <% if blog.photo.attached? %>
              <%= image_tag blog.photo, class: 'w-14 h-14 object-cover rounded mr-4' %>
            <% else %>
              <div class="w-0.5 h-0.5 bg-gray-300 rounded mr-4"></div>
            <% end %>
            <div>
              <h2 class="text-xl font-bold"><%= link_to blog.title, blog, class: "text-white hover:text-gray-300" %></h2>
              <p class="text-white"><%= blog.content.truncate(100) %></p>
              <p class="text-sm text-gray-200">Posted by: <%= blog.user.email %></p>
              <% if blog.user == current_user || current_user.admin? %>
                <div class="flex mt-2">
                  <%= link_to 'Edit', edit_blog_path(blog), class: "bg-transparent hover:bg-gray-500 text-white font-bold py-1 px-3 rounded" %>
                  <%= button_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "bg-transparent hover:bg-gray-500 text-white font-bold py-1 px-3 rounded" %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
