<!-- app/views/devise/registrations/new.html.erb -->

<h2 class="text-3xl font-bold mb-4">Sign up</h2>

<%= form_with model: resource, as: resource_name, url: registration_path(resource_name), local: true do |form| %>
  <div class="mb-4">
    <%= form.label :email, class: "block text-gray-700 font-bold mb-2" %>
    <%= form.email_field :email, autofocus: true, class: "border rounded w-80 py-2 px-3 text-gray-700 focus:outline-none focus:ring focus:border-blue-300" %>
  </div>

  <div class="mb-4">
    <%= form.label :password, class: "block text-gray-700 font-bold mb-2" %>
    <%= form.password_field :password, autocomplete: "new-password", class: "border rounded w-80 py-2 px-3 text-gray-700 focus:outline-none focus:ring focus:border-blue-300" %>
  </div>

  <div class="mb-4">
    <%= form.label :password_confirmation, class: "block text-gray-700 font-bold mb-2" %>
    <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "border rounded w-80 py-2 px-3 text-gray-700 focus:outline-none focus:ring focus:border-blue-300" %>
  </div>

  <div>
    <%= form.submit "Sign up", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
